.tos-wrapper {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #cccccc;
    padding: 50px;
    gap: 20px;
    align-items: center;
}

.tos-wrapper .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tos-wrapper .tos-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #3f3f3f;
    width: 100%;
    padding: 20px;
    gap: 20px;
    color: #b6b6b6;
    box-sizing: border-box;
    border-radius: 5px;
}