.image-slider {
    display: flex;
}

.image-slider img {
    height: 15rem;
    width: 30rem;
}

.image-slider button {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(51, 51, 51);
    transition: all .30s ease;
}

.image-slider button:nth-child(1) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.image-slider button:nth-child(3) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.image-slider button:hover {
    background: rgba(30, 30, 30, 0.78);
}

.arrow-icon {
    color: #cccccc !Important;
}

@media (max-width: 800px) {
    .image-slider {
        display: none;
    }

    .image-slider img {
        width: 100%;
        order: 1;
    }

    .image-slider button:nth-child(1) {
        order: 2;
        width: 100%;
    }

    .image-slider button:nth-child(3) {
        order: 3;
        width: 100%;
    }
}