.products {
    display: flex;
    color: #cccccc;
    font-family: sans-serif;
    justify-content: center;
    gap: 70px;
    margin-top: 100px;
}

.products .product {
    display: flex;
    flex-direction: column;
    background: rgba(14, 14, 14, 0.34);
    border: 1px solid #333333;
    backdrop-filter: blur(20px);
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    width: 16rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.products .product img {
    width: 100px;
}

.products .product .price {
    font-size: 30px;
}

.products .product a {
    text-decoration: none;
    background: #008686;
    color: #cccccc;
    font-size: 20px;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: all .30s ease;
}

.products .product a:hover {
    background: #007a7a;
}

@media (max-width: 800px) {
    .products {
        flex-direction: column;
        align-items: center;
    }
}