body {
    background-image: url("/websitebackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}