.about {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    color: #cccccc;
    gap: 25px;
    font-family: sans-serif;
}

.about p {
    width: 50%;
    text-align: center;
}

.about .icons {
    display: flex;
    gap: 50px;
}

.icon {
    color: #03a7dc !important;
    font-size: 50px !important;
}

.about a {
    text-decoration: none;
    color: #ccc;
    background: #008a8a;
    padding: 10px 15px;
    border-radius: 4px;
    transition: all .30s ease;
}

.about a:hover {
    background: #007979;
}

@media (max-width: 800px) {
    .about .icons {
        flex-direction: column;
    }
}